@import "tailwindcss";
@import "tw-animate-css";
@import "@repo/styles/theme.css";
@import "@repo/styles/variables.css";
@import "@repo/styles/base.css";
@import "@repo/styles/scrollbar.css";

@source "../../node_modules/@repo/ui/dist/src";
