/* Chrome, Safari */
::-webkit-scrollbar {
  width: 0.5rem; /* width for vertical scrollbars */
  height: 0.5rem; /* height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: var(--radius-md);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border: 2px solid var(--background); /* creates padding effect */
  border-radius: var(--radius-lg); /* creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-foreground);
}

* {
  /* Newly available in all browsers */
  scrollbar-color: var(--accent) var(--background);
  /* Newly available in all browsers */
  scrollbar-width: thin;
}
